<template>
  <div class="about">
    <p>
      This little application will help you to keep en eye on your daily tasks. It allows you to add and remove tasks easily and set a priority for yours most important tasks.
    </p>
  </div>
</template>

<style scoped>
p {
  padding: 4rem;
}

</style>
