<template>
  <div class="addtask">
      <form @submit.prevent='addTask'>
        <div class="form-element">
          <label for="description">What you need to do</label>
          <input v-model='description' type="text" id="description">
        </div>
        <div class="form-element">
          <label for="author">Author</label>
          <input v-model='author' type="text" id="author">
        </div>
        
        <button class="btn">Add</button>
      </form>
      
  </div>
</template>

<script>
export default {
  data(){
    return {
      description: '',
      author: ''
    }
  },

  methods: {
    getTimeStamp() {
      const today = new Date();
      const date = today.getDate() + '.' + (today.getMonth()+1) + '.' + today.getFullYear();
      const time = today.getHours() + ":" + today.getMinutes();
      const dateTime = date +' '+ time;
      return dateTime
      
    },
    addTask(){
      let newTask = {
        description: this.description,
        author: this.author,
        timestamp: null,
        isDone: false
      }

      newTask.timestamp = this.getTimeStamp();
      this.$store.commit('addTask', newTask);
      this.$router.push({name: 'ListOfTasks'});

    },
    

  }
}
</script>

<style scoped>
.addtask {
  /* color: #3fa9f5; */
  background-color: rgba(172, 171, 171, 0.219);
  max-width: 45rem;
  margin: 2rem;
  border-radius: 1rem;
  padding: 2rem 3rem;
}
.form-element {
  margin: 2rem 0;
}
label {
  display: inline-block;
  width: 20rem;
}

input{
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  width: 22rem;
  border: 1px solid  #e9ebec;

  outline-color: #3fa9f5;
}

.btn {
  display: block;
  margin: 0 auto;
  padding: .5rem 2rem;
  background-color:  #3fa9f5;
  color: #eee;
  border-radius: 1.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  border: 1px solid  #229ff8;
  outline: none;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
  transition: .1s;
}
.btn:hover {
  background-color:   #229ff8;
}
.btn:active{
  transform: translateY(1px);
}
</style>