<template>
  <div class="task-list">
      <h3 v-if='tasks.length === 0'>The list is empty</h3>
      <Task v-for='(task, index) in tasks' :key='index' v-bind:task = 'task'/>
  </div>
</template>

<script>
import Task from '../components/Task'

export default {
    components: {
        Task
    },
    computed: {
        tasks() {
            return this.$store.state.tasks
        }
    }
}
</script>

<style scoped>

h3{
    text-align: center;
    font-size: 2rem;
    color: #3fa9f5 ;
}

.task-list{
    padding: .2rem 0;
    margin: 2rem;
    background-color: rgb(248, 245, 245);
    max-width: 42rem;
    border-radius: 1rem;
}

</style>