<template>
    <div id="nav">
        <img class="logo" alt="Vue logo" src="../assets/logo.svg" />
        <router-link to="/">List of tasks</router-link> 
        <router-link to="/Addtask">Add a new task</router-link>
        <router-link to="/about">About</router-link>
    </div>
</template>

<script>
export default {};
</script>

<style>
/* colors

blue -3fa9f5 

*/

#nav {
    background-color: rgba(172, 171, 171, 0.219);
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 576px) { 
    #nav {
        flex-direction: row;
    }
}



a.router-link-exact-active {
   background-color: rgba(172, 171, 171, 0.459);
   cursor: pointer;
 }

a {
    margin: 0 1rem;
    color: rgb(42, 42, 42);
    text-decoration: none;
    font-size: 2.3rem;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
}
/* a:hover {
    text-decoration: underline;
} */

.logo {
    width: 100px;
    height: auto;
    margin: 0 3rem;
    
}
</style>