<template>
    <div class="task-box" v-bind:class="{doneStyle: task.isDone, undoneStyle: !task.isDone}">
        <div class="task-details">
            <div class="author">{{task.author}}</div>
            <div class="timestamp">{{task.timestamp}}</div>
        </div>
        <div class="task-description" v-bind:class="{doneStyle: task.isDone, undoneStyle: !task.isDone}">{{task.description}}</div>
        
        <button class="switchDone" @click='switchDone'><span v-if='task.isDone'>Mark as not done</span> <span v-else >Mark as done</span></button>
        <div class="controll-btn-box">
            <button v-if='!task.isDone' class="btn" @click="moveTaskUp"><img src="../assets/icons/arrow-up.svg" alt="arrow-up buttop icon" /></button>
            <button v-if='!task.isDone' class="btn"  @click="moveTaskDown"><img src="../assets/icons/arrow-down.svg" alt="arrow-up buttop icon" /></button>
            <button class="btn" @click='removeTask'>
                    <img src="../assets/icons/bin.svg" alt="delete button icon" />
            </button>
        </div>
        
    </div>
</template>

<script>
export default {
    props: ['task'],
    
    methods: {
        
        removeTask() {
            this.$store.commit('removeTask', this.task.description)
        },
        switchDone() {
            this.$store.commit('switchDone', this.task)
        },
        moveTaskUp() {
            this.$store.commit('moveTaskUp', this.task)
        },
        moveTaskDown() {
            this.$store.commit('moveTaskDown', this.task)
        }
    }

};
</script>

<style scoped>
.task-box {
    background-color: #3fa9f544;
    max-width: 42rem;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 1rem;
    position: relative;
}

.doneStyle{
    background-color:  rgba(172, 171, 171, 0.219);
}

.doneStyle.task-description {
    background:  none;
    color: rgb(105, 105, 105);
    text-decoration: line-through;
    text-decoration-thickness: 1px;
}

.task-details {
    display: flex;
    margin-bottom: 2rem;
}

.author, 
.timestamp {
    font-size: 1.5rem;
    color: rgb(105, 105, 105);
    margin-right: 1rem;
}



.controll-btn-box,
.switchDone {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.btn  {
    margin-right: .3rem;
    border-radius: .4rem;
    border: 1px solid rgb(105, 105, 105);
}
button:focus {
    outline: none;
}

.switchDone {
    top: 6rem;
    padding: .3rem .8rem;
    border-radius: 1rem;
    border: 1px solid rgb(105, 105, 105);
    
}


.switchDone:hover,
.switchDone:active,
.btn:hover,
.btn:active {
    background-color: rgb(218, 218, 218);
} 

img {
    width: 1rem;
}
</style>