<template>
  <div id="app">
    <Navbar/>
    <router-view/>
  </div>
</template>

<script>


import Navbar from './components/Navbar.vue'
export default {
  components: {
    Navbar
    
  }
}
</script>
<style>
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 2rem;
  background: url('./assets/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}


</style>
